#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        // Space on tap, layer 1 (symbols) on hold.
        // Ported from the old keyboard's tap dance TD(0) (110 ms term).
        ht_spc: ht_spc {
            compatible = "zmk,behavior-hold-tap";
            label = "SPC_MO1";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <110>;
            bindings = <&kp>, <&mo>;
        };
    };

    macros {
        // Win + Shift + S (screenshot). Ported from the old keyboard's macro M0.
        ss_capture: ss_capture {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_GUI &kp LEFT_SHIFT>,
                <&macro_tap &kp S>,
                <&macro_release &kp LEFT_GUI &kp LEFT_SHIFT>;
            label = "WIN_SHIFT_S";
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC     &kp N1     &kp N2        &kp N3        &kp N4  &kp N5       &kp UP_ARROW     &kp N6     &kp N7     &kp N8     &kp N9           &kp N0      &kp GRAVE
&kp TAB     &kp Q      &kp W         &kp E         &kp R   &kp T        &kp DOWN_ARROW   &kp Y      &kp U      &kp I      &kp O            &kp P       &kp BSLH
&kp LCTRL   &kp A      &kp S         &kp D         &kp F   &kp G        &kp LEFT_ARROW   &kp H      &kp J      &kp K      &kp L            &kp SEMI    &kp APOS
&kp LSHFT   &kp Z      &kp X         &kp C         &kp V   &kp B        &kp RIGHT_ARROW  &kp N      &kp M      &kp COMMA  &kp DOT          &kp FSLH    &kp RSHFT
&kp C_MUTE  &kp LGUI   &kp LALT      &mo 2         &ht_spc SPACE 1       &mo 2             &ss_capture      &kp DELETE &kp ENTER  &kp BSPC  &mo 3       &kp RGUI
            >;

            display-name = "LAYER0";
        };

        layer_1 {
            bindings = <
&trans      &kp F1       &kp F2     &kp F3      &kp F4       &kp F5        &trans      &kp F6       &kp F7      &kp F8      &kp F9     &kp F10         &kp F11
&trans      &kp N1       &kp N2     &kp N3      &kp N4       &kp N5        &trans      &kp N6       &kp N7      &kp N8      &kp N9     &kp N0           &trans
&trans      &kp EXCL     &kp AT     &kp HASH    &kp DOLLAR   &kp PERCENT   &trans      &kp CARET    &kp AMPS    &kp STAR    &kp LPAR   &kp RPAR         &trans
&trans      &kp EQUAL    &kp UNDER  &kp PLUS    &kp MINUS    &trans        &trans      &trans       &kp LS(LBRC) &kp LS(RBRC) &kp LBRC  &kp RBRC        &trans
&trans      &trans       &trans     &trans      &trans       &trans        &trans      &trans       &trans      &trans      &trans     &trans
            >;

            display-name = "LAYER1";
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &kp UP_ARROW  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp HOME  &kp END
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "LAYER2";
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mkp LCLK  &msc SCRL_UP  &mkp RCLK  &trans    &trans  &trans  &mkp LCLK  &mmv MOVE_UP  &mkp RCLK  &trans  &trans
&trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans    &trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "LAYER3";
        };
    };
};
